.custom-bg-primary {
  background-color: #1f148c;
}

.custom-bg-primary-transparent {
  background-color: #0d007ee7;
}

.custom-bg-secondary {
  background-color: #817abf;
}

.custom-bg-secondary-transparent {
  background-color: rgba(60, 50, 148, 0.699)
}

.custom-header-background {
  background: url(./images/header-background-min.png) no-repeat 15% / cover;
}

.custom-footer-background {
  background: url(./images/footer-bg-min.png) center, #0d007ee7;
}

.custom-text-primary {
  color: #1f148c;
}

.custom-text-secondary {
  color: #817abf;
}

.custom-heading-container {
  width: 75%;
}


.custom-nav-item {
  margin-bottom: 1px;
}

.custom-nav-item:hover {
  transition: all 1s;
  background-color: #817abf;
}

.custom-nav-item-icon {
  width: 4rem;
}

.custom-nav-toggle-button {
  width: 4rem;
  height: 4rem;
}

.custom-navbar-collapse {
  transition: 0s;
}

.custom-register-section {
  height: 150px;
  width: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
}

.custom-price-register-buttom {
  border: 1px solid #1f148c;
  color: #1f148c;
}

.custom-price-register-buttom:hover {
  background-color: #1f148c;
  color: white;
}

.custom-footer-clipped-bg {
  clip-path: polygon(0% -1%, 100% -1%, 65% 150%, 35% 150%);
}

.custom-fade-in-left {
  animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -webkit-animation: fadeInLeft 1s;
  -o-animation: fadeInLeft 1s;
}

.custom-fade-in-right {
  animation: fadeInRight 1s;
  -moz-animation: fadeInRight 1s;
  -webkit-animation: fadeInRight 1s;
  -o-animation: fadeInRight 1s;
}

@media (min-width: 768px) {

  .custom-heading-container {
    width: 50%;
  }

  .custom-register-section {
    height: 200px;
    width: 350px;
  }

  .custom-register-section button {
    font-size: 1.25rem;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}